swagger: '2.0'
info:
  version: 1.0.0
  title: Chikyu API Documentation
  description: CRM/SFAソフトウェア「ちきゅう」APIドキュメント
  termsOfService: 'http://chikyu.net'
  contact:
    name: 'Chikyu, Inc.'
host: api.chikyu.net
basePath: /api/v2
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /session/token/revoke:
    post:
      description: ログイン用のAPIトークンを無効化する
      operationId: revokeSessionToken
      produces:
        - application/json
      tags:
        - api-class-2
        - system
        - token
      parameters:
        - name: body
          in: body
          description: 現在のトークン情報
          required: true
          schema:
            $ref: '#/definitions/TokenRequest'
      responses:
        '200':
          description: 削除結果
          schema:
            $ref: '#/definitions/Response'
  /session/token/list:
    post:
      description: ログイン用のAPIトークンのリストを取得する
      operationId: listSessionToken
      produces:
        - application/json
      tags:
        - api-class-2
        - system
        - token
      parameters:
        - name: body
          in: body
          description: 現在のトークン情報
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: ログイントークンのリスト
          schema:
            $ref: '#/definitions/ListSessionTokenResponse'
  /session/user:
    post:
      description: 現在のユーザーを取得する【要ログイン】
      operationId: getUser
      produces:
        - application/json
      tags:
        - api-class-2
        - session
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: 現在のユーザー情報
          schema:
            $ref: '#/definitions/UserResponse'
  /session/organ/current:
    post:
      description: 現在の組織を取得する【要ログイン】
      operationId: getCurrentOrgan
      produces:
        - application/json
      tags:
        - api-class-2
        - session
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: 現在の組織情報
          schema:
            $ref: '#/definitions/CurrentOrganResponse'
  /session/organ/change:
    post:
      description: 処理対象の組織を変更する【要ログイン】
      operationId: changeCurrentOrgan
      produces:
        - application/json
      tags:
        - api-class-2
        - session
      parameters:
        - name: body
          in: body
          description: 対象組織切り替え要求
          required: true
          schema:
            $ref: '#/definitions/ChangeSessionOrganRequest'
      responses:
        '200':
          description: 処理結果
          schema:
            $ref: '#/definitions/ChangeSessionOrganResponse'
  /session/organ/list:
    post:
      description: 選択可能な組織の一覧を取得する【要ログイン】
      operationId: listCurrentOrgans
      produces:
        - application/json
      tags:
        - api-class-2
        - session
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/OrganListRequest'
      responses:
        '200':
          description: 現在のユーザー情報
          schema:
            $ref: '#/definitions/OrganListResponse'
  /session/logout:
    post:
      description: セッションを削除する【要ログイン】
      operationId: logout
      produces:
        - application/json
      tags:
        - api-class-2
        - session
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: ログアウト結果
          schema:
            $ref: '#/definitions/Response'
  /session/organ/user/list:
    post:
      description: 組織に所属するユーザーのリストを取得する【要ログイン】
      operationId: listOrganUsers
      produces:
        - application/json
      tags:
        - api-class-2
        - organ
        - contract
      parameters:
        - name: body
          in: body
          description: ユーザー一覧の取得要求
          required: true
          schema:
            $ref: '#/definitions/UserListRequest'
      responses:
        '200':
          description: ユーザー一覧の取得結果
          schema:
            $ref: '#/definitions/UserListResponse'
  /session/organ/user/invite:
    post:
      description: ユーザー招待【要ログイン】
      operationId: inviteOrganUser
      produces:
        - application/json
      tags:
        - api-class-2
        - organ
        - contract
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/UserInviteRequest'
      responses:
        '200':
          description: 結果
          schema:
            $ref: '#/definitions/UserInviteResponse'
  /session/organ/user/create:
    post:
      description: ユーザー作成【要ログイン】
      operationId: createOrganUser
      produces:
        - application/json
      tags:
        - api-class-2
        - organ
        - contract
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/UserCreateRequest'
      responses:
        '200':
          description: 結果
          schema:
            $ref: '#/definitions/UserCreateResponse'
  /session/organ/user/update:
    post:
      description: ユーザー更新【要ログイン】
      operationId: updateOrganUser
      produces:
        - application/json
      tags:
        - api-class-2
        - organ
        - contract
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/UserUpdateRequest'
      responses:
        '200':
          description: 結果
          schema:
            $ref: '#/definitions/Response'
  /session/organ/user/delete:
    post:
      description: ユーザー削除【要ログイン】
      operationId: deleteOrganUser
      produces:
        - application/json
      tags:
        - api-class-2
        - organ
        - contract
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/UserDeleteRequest'
      responses:
        '200':
          description: 結果
          schema:
            $ref: '#/definitions/Response'
  /session/organ/user/image/register:
    post:
      description: ユーザー画像の登録【要ログイン】
      operationId: registerUserImage
      produces:
        - application/json
      tags:
        - api-class-2
        - organ
        - contract
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/UserImageRegisterRequest'
      responses:
        '200':
          description: 結果
          schema:
            $ref: '#/definitions/UserImageRegisterResponse'
  /session/user/update:
    post:
      description: 現在ログイン中のユーザー更新【要ログイン】
      operationId: updateSessionUser
      produces:
        - application/json
      tags:
        - api-class-2
        - session
        - contract
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/SessionUserUpdateRequest'
      responses:
        '200':
          description: 結果
          schema:
            $ref: '#/definitions/Response'
  /session/user/image/register:
    post:
      description: 現在ログイン中のユーザー画像の登録【要ログイン】
      operationId: registerCurrentUserImage
      produces:
        - application/json
      tags:
        - api-class-2
        - session
        - contract
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/SessionUserImageRegisterRequest'
      responses:
        '200':
          description: 結果
          schema:
            $ref: '#/definitions/UserImageRegisterResponse'
  /session/project/list:
    post:
      description: 所属するプロジェクト一覧を取得する【要ログイン】
      operationId: listCurrentProjects
      produces:
        - application/json
      tags:
        - api-class-2
        - session
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: プロジェクト情報
          schema:
            $ref: '#/definitions/ProjectListResponse'
  /project/list/all:
    post:
      description: 組織に存在するプロジェクト一覧を取得する【要ログイン】
      operationId: listProjectsAll
      produces:
        - application/json
      tags:
        - api-class-2
        - project
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: プロジェクト情報
          schema:
            $ref: '#/definitions/ProjectListResponse'
  /project/list/user:
    post:
      description: 指定したユーザーの所属するプロジェクト一覧を取得する【要ログイン】
      operationId: listProjectsByUser
      produces:
        - application/json
      tags:
        - api-class-2
        - project
      parameters:
        - name: body
          in: body
          description: 要求
          required: true
          schema:
            $ref: '#/definitions/ProjectListByUserRequest'
      responses:
        '200':
          description: プロジェクト情報
          schema:
            $ref: '#/definitions/ProjectListResponse'
  /report/list:
    post:
      description: レポートの一覧を取得
      operationId: reportList
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポート一覧取得要求
          required: true
          schema:
            $ref: '#/definitions/ReportListRequest'
      responses:
        '200':
          description: レポート一覧取得結果
          schema:
            $ref: '#/definitions/ReportListResponse'
  /report/create/normal:
    post:
      description: レポート(通常)を作成する
      operationId: reportCreateForNormal
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポート作成要求
          required: true
          schema:
            $ref: '#/definitions/ReportCreateForNormalRequest'
      responses:
        '200':
          description: レポート作成結果
          schema:
            $ref: '#/definitions/ReportCreateResponse'
  /report/create/input:
    post:
      description: レポート(手入力)を作成する
      operationId: reportCreateForInput
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポート作成要求
          required: true
          schema:
            $ref: '#/definitions/ReportCreateForInputRequest'
      responses:
        '200':
          description: レポート作成結果
          schema:
            $ref: '#/definitions/ReportCreateResponse'
  /report/update/normal:
    post:
      description: レポート(通常)を更新する
      operationId: reportUpdateForNormal
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポート更新要求
          required: true
          schema:
            $ref: '#/definitions/ReportUpdateForNormalRequest'
      responses:
        '200':
          description: レポート更新結果
          schema:
            $ref: '#/definitions/Response'
  /report/update/input:
    post:
      description: レポート(手入力)を更新する
      operationId: reportUpdateForInput
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポート更新要求
          required: true
          schema:
            $ref: '#/definitions/ReportUpdateForInputRequest'
      responses:
        '200':
          description: レポート更新結果
          schema:
            $ref: '#/definitions/Response'
  /report/delete:
    post:
      description: レポートを削除する
      operationId: reportDelete
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポート削除要求
          required: true
          schema:
            $ref: '#/definitions/ReportDeleteRequest'
      responses:
        '200':
          description: レポート削除結果
          schema:
            $ref: '#/definitions/Response'
  /report/preview/normal:
    post:
      description: レポート(通常)をプレビューする
      operationId: reportPreviewForNormal
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポートプレビュー要求
          required: true
          schema:
            $ref: '#/definitions/ReportPreviewForNormalRequest'
      responses:
        '200':
          description: レポート更新結果
          schema:
            $ref: '#/definitions/ReportDataListResponse'
  /report/data/list:
    post:
      description: レポートのデータを取得
      operationId: reportDataList
      produces:
        - application/json
      tags:
        - api-class-1
        - report
      parameters:
        - name: body
          in: body
          description: レポートデータ取得要求
          required: true
          schema:
            $ref: '#/definitions/ReportDataListRequest'
      responses:
        '200':
          description: データ処理状況取得結果
          schema:
            $ref: '#/definitions/ReportDataListResponse'
  /report/field_definition/list:
    post:
      description: レポートの項目定義を取得
      operationId: reportFieldDefinitionList
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポートの項目定義取得要求
          required: true
          schema:
            $ref: '#/definitions/ReportFieldDefinitionListRequest'
      responses:
        '200':
          description: レポートの項目定義結果
          schema:
            $ref: '#/definitions/ReportFieldDefinitionListResponse'
  /report/folder/list:
    post:
      description: レポートのフォルダリストを取得する
      operationId: reportFolderList
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポートフォルダ取得要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: レポートフォルダ取得結果
          schema:
            $ref: '#/definitions/ReportFolderListResponse'
  /report/folder/create:
    post:
      description: レポートのフォルダを作成する
      operationId: reportFolderCreate
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポートフォルダ作成要求
          required: true
          schema:
            $ref: '#/definitions/ReportFolderCreateRequest'
      responses:
        '200':
          description: レポートフォルダ作成結果
          schema:
            $ref: '#/definitions/ReportFolderCreateResponse'
  /report/folder/update:
    post:
      description: レポートのフォルダを更新する
      operationId: reportFolderUpdate
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポートフォルダ更新要求
          required: true
          schema:
            $ref: '#/definitions/ReportFolderUpdateRequest'
      responses:
        '200':
          description: レポートフォルダ更新結果
          schema:
            $ref: '#/definitions/Response'
  /report/folder/delete:
    post:
      description: レポートのフォルダを削除する
      operationId: reportFolderDelete
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポートフォルダ削除要求
          required: true
          schema:
            $ref: '#/definitions/ReportFolderDeleteRequest'
      responses:
        '200':
          description: レポートフォルダ削除結果
          schema:
            $ref: '#/definitions/Response'
  /report/create/from_gadget:
    post:
      description: ガジェットからレポートを作成
      operationId: reportCreateFromGadget
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: ガジェットからのレポート作成要求
          required: true
          schema:
            $ref: '#/definitions/ReportCreateFromGadgetRequest'
      responses:
        '200':
          description: レポートからのガジェット作成結果
          schema:
            $ref: '#/definitions/ReportCreateFromGadgetResponse'
  /report/export/start:
    post:
      description: レポートのエクスポートを開始する【要ログイン】
      operationId: startReportExport
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: レポートのエクスポート要求
          required: true
          schema:
            $ref: '#/definitions/StartExportRequest'
      responses:
        '200':
          description: エクスポート開始結果
          schema:
            $ref: '#/definitions/StartExportResponse'
  /report/export/status:
    post:
      description: レポートのエクスポート状況を確認する【要ログイン】
      operationId: statusReportExport
      produces:
        - application/json
      tags:
        - api-class-2
        - report
      parameters:
        - name: body
          in: body
          description: 状況確認リクエスト
          required: true
          schema:
            $ref: '#/definitions/ExportStatusRequest'
      responses:
        '200':
          description: 状況確認結果
          schema:
            $ref: '#/definitions/ExportStatusResponse'
  '/entity/{collection_name}/create':
    post:
      description: データを追加する【APIキーまたはログイン】
      operationId: createEntity
      produces:
        - application/json
      tags:
        - api-class-1
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/EntityCreateRequest'
      responses:
        '200':
          description: データ更新結果
          schema:
            $ref: '#/definitions/EntitySaveResponse'
  '/entity/{collection_name}/empty':
    post:
      description: データ新規作成時の雛形を取得します
      operationId: getInputTemplate
      produces:
        - application/json
      tags:
        - api-class-1
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/GetInputTemplateRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetInputTemplateResponse'
  '/entity/{collection_name}/save':
    post:
      description: データを保存する【要ログイン】
      operationId: saveEntity
      produces:
        - application/json
      tags:
        - api-class-1
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ更新要求
          required: true
          schema:
            $ref: '#/definitions/EntitySaveRequest'
      responses:
        '200':
          description: データ更新結果
          schema:
            $ref: '#/definitions/EntitySaveResponse'
  '/entity/{collection_name}/save/batch':
    post:
      description: データを保存する(バッチ)【要ログイン】
      operationId: saveEntityBatch
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ保存要求(バッチ)
          required: true
          schema:
            $ref: '#/definitions/EntitySaveBatchRequest'
      responses:
        '200':
          description: データ保存結果(バッチ)
          schema:
            $ref: '#/definitions/EntitySaveBatchResponse'
  '/entity/{collection_name}/status':
    post:
      description: データの保存状況を取得
      operationId: statusEntity
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ処理状況取得要求
          required: true
          schema:
            $ref: '#/definitions/EntityStatusRequest'
      responses:
        '200':
          description: データ処理状況取得結果
          schema:
            $ref: '#/definitions/EntityStatusResponse'
  '/entity/{collection_name}/delete':
    post:
      description: データを削除する【要ログイン】
      operationId: deleteEntity
      produces:
        - application/json
      tags:
        - api-class-1
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ削除要求
          required: true
          schema:
            $ref: '#/definitions/EntityDeleteRequest'
      responses:
        '200':
          description: データ削除結果
          schema:
            $ref: '#/definitions/EntityDeleteResponse'
  '/entity/{collection_name}/delete/batch':
    post:
      description: データを削除する(バッチ)【要ログイン】
      operationId: deleteEntityBatch
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ削除要求
          required: true
          schema:
            $ref: '#/definitions/EntityDeleteBatchRequest'
      responses:
        '200':
          description: データ削除結果
          schema:
            $ref: '#/definitions/EntityDeleteBatchResponse'
  '/entity/{collection_name}/delete/by_list':
    post:
      description: データを削除する(リスト)【要ログイン】
      operationId: deleteEntityByList
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ削除要求
          required: true
          schema:
            $ref: '#/definitions/EntityDeleteByListRequest'
      responses:
        '200':
          description: データ削除結果
          schema:
            $ref: '#/definitions/EntityDeleteBatchResponse'
  '/entity/{collection_name}/list':
    post:
      description: データのリストを取得する【要ログイン】
      operationId: listEntity
      produces:
        - application/json
      tags:
        - api-class-1
        - entity-list
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ取得要求(リスト)
          required: true
          schema:
            $ref: '#/definitions/EntityListRequest'
      responses:
        '200':
          description: データ取得結果(リスト)
          schema:
            $ref: '#/definitions/EntityListResponse'
  '/entity/{collection_name}/single':
    post:
      description: データを一件取得する【要ログイン】
      operationId: singleEntity
      produces:
        - application/json
      tags:
        - api-class-1
        - entity-list
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ取得要求
          required: true
          schema:
            $ref: '#/definitions/EntityGetRequest'
      responses:
        '200':
          description: データ取得結果
          schema:
            $ref: '#/definitions/EntityGetResponse'
  '/entity/{collection_name}/count':
    post:
      description: データ件数を取得する【要ログイン】
      operationId: countEntity
      produces:
        - application/json
      tags:
        - api-class-1
        - entity-list
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ件数取得要求
          required: true
          schema:
            $ref: '#/definitions/EntityCountRequest'
      responses:
        '200':
          description: データ件数取得結果
          schema:
            $ref: '#/definitions/EntityCountResponse'
  '/entity/{collection_name}/log/list':
    post:
      description: データの更新ログを取得する【要ログイン】
      operationId: listLogEntity
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-log
        - audit
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 変更ログ取得要求
          required: true
          schema:
            $ref: '#/definitions/EntityChangeLogRequest'
      responses:
        '200':
          description: 変更ログ取得結果
          schema:
            $ref: '#/definitions/EntityChangeLogResponse'
  '/entity/{collection_name}/snapshot/single':
    post:
      description: データのスナップショットを取得する【要ログイン】
      operationId: getSnapShotEntity
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-log
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: スナップショット取得要求
          required: true
          schema:
            $ref: '#/definitions/EntitySnapShotRequest'
      responses:
        '200':
          description: 変更ログ取得結果
          schema:
            $ref: '#/definitions/EntitySnapShotResponse'
  '/entity/{collection_name}/attached_file/list':
    post:
      description: 添付ファイルのリストを取得する【要ログイン】
      operationId: listAttachedFile
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-list
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 添付ファイル取得要求
          required: true
          schema:
            $ref: '#/definitions/AttachedFileListRequest'
      responses:
        '200':
          description: 添付ファイル取得結果(リスト)
          schema:
            $ref: '#/definitions/AttachedFileListResponse'
  '/entity/{collection_name}/attached_file/url/download':
    post:
      description: 添付ファイルのダウンロードURLを取得する【要ログイン】
      operationId: downloadUrlAttachedFile
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-list
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: ダウンロードURL取得要求
          required: true
          schema:
            $ref: '#/definitions/AttachedFileUrlRequest'
      responses:
        '200':
          description: ダウンロードURL取得結果
          schema:
            $ref: '#/definitions/AttachedFileUrlResponse'
  '/entity/{collection_name}/attached_file/create':
    post:
      description: 添付ファイルのメタデータを作成する【要ログイン】
      operationId: createAttachedFile
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 添付ファイル(メタデータ)作成要求
          required: true
          schema:
            $ref: '#/definitions/AttachedFileCreateRequest'
      responses:
        '200':
          description: 添付ファイル(メタデータ)更新結果
          schema:
            $ref: '#/definitions/AttachedFileUpdateResponse'
  '/entity/{collection_name}/attached_file/delete':
    post:
      description: 添付ファイルを削除する【要ログイン】
      operationId: deleteAttachedFile
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-save
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 添付ファイル(メタデータ)削除要求
          required: true
          schema:
            $ref: '#/definitions/AttachedFileDeleteRequest'
      responses:
        '200':
          description: 添付ファイル(メタデータ)削除結果
          schema:
            $ref: '#/definitions/Response'
  '/entity/{collection_name}/related/list':
    post:
      description: 関連データを取得する【要ログイン】
      operationId: listRelatedEntity
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-list
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 関連データ取得要求
          required: true
          schema:
            $ref: '#/definitions/EntityRelatedItemListRequest'
      responses:
        '200':
          description: 関連データ取得結果
          schema:
            $ref: '#/definitions/EntityRelatedItemListResponse'
  '/entity/{collection_name}/aggregate':
    post:
      description: データを集計する【要ログイン】
      operationId: aggregateEntity
      produces:
        - application/json
      tags:
        - api-class-1
        - entity-list
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ集計要求
          required: true
          schema:
            $ref: '#/definitions/EntityAggregateRequest'
      responses:
        '200':
          description: データ集計結果
          schema:
            $ref: '#/definitions/EntityAggregateResponse'
  /entity/prospects/convert:
    post:
      description: 見込客から会社・商談・担当者を作成【ログイン】
      operationId: convertProspect
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-save
      parameters:
        - name: body
          in: body
          description: 見込客変換要求
          required: true
          schema:
            $ref: '#/definitions/ConvertProspectRequest'
      responses:
        '200':
          description: 見込客変換結果
          schema:
            $ref: '#/definitions/ConvertProspectResponse'
  /entity/tasks/complete:
    post:
      description: タスクから活動履歴を作成【ログイン】
      operationId: completeTask
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-save
      parameters:
        - name: body
          in: body
          description: タスク完了要求
          required: true
          schema:
            $ref: '#/definitions/CompleteTaskRequest'
      responses:
        '200':
          description: タスク完了結果
          schema:
            $ref: '#/definitions/CompleteTaskResponse'
  /entity/cross_search:
    post:
      description: データの統合検索を実行する【要ログイン】
      operationId: crossSearchEntity
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-list
      parameters:
        - name: body
          in: body
          description: データ取得要求
          required: true
          schema:
            $ref: '#/definitions/EntityCrossSearchRequest'
      responses:
        '200':
          description: データ取得結果
          schema:
            $ref: '#/definitions/EntityCrossSearchResponse'
  '/entity/{collection_name}/search_definitions/list':
    post:
      description: 検索条件のリストを取得する【要ログイン】
      operationId: listSearchDefinition
      produces:
        - application/json
      tags:
        - api-class-2
        - search-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 検索条件取得要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: 検索条件取得結果(リスト)
          schema:
            $ref: '#/definitions/SearchDefinitionListResponse'
  '/entity/{collection_name}/search_definitions/single':
    post:
      description: データを一件取得する【要ログイン】
      operationId: singleSearchDefinition
      produces:
        - application/json
      tags:
        - api-class-2
        - search-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ取得要求
          required: true
          schema:
            $ref: '#/definitions/SearchDefinitionGetRequest'
      responses:
        '200':
          description: データ取得結果
          schema:
            $ref: '#/definitions/SearchDefinitionGetResponse'
  '/entity/{collection_name}/search_definitions/create':
    post:
      description: 検索条件を登録する【要ログイン】
      operationId: createSearchDefinition
      produces:
        - application/json
      tags:
        - api-class-2
        - search-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 検索条件作成要求
          required: true
          schema:
            $ref: '#/definitions/SearchDefinitionCreateRequest'
      responses:
        '200':
          description: 検索条件作成結果
          schema:
            $ref: '#/definitions/SearchDefinitionCreateResponse'
  '/entity/{collection_name}/search_definitions/update':
    post:
      description: 検索条件を更新する【要ログイン】
      operationId: updateSearchDefinition
      produces:
        - application/json
      tags:
        - api-class-2
        - search-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 検索条件更新要求
          required: true
          schema:
            $ref: '#/definitions/SearchDefinitionUpdateRequest'
      responses:
        '200':
          description: 検索条件更新結果
          schema:
            $ref: '#/definitions/Response'
  '/entity/{collection_name}/search_definitions/delete':
    post:
      description: 検索条件を削除する【要ログイン】
      operationId: deleteSearchDefinition
      produces:
        - application/json
      tags:
        - api-class-2
        - search-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 検索条件削除要求
          required: true
          schema:
            $ref: '#/definitions/SearchDefinitionDeleteRequest'
      responses:
        '200':
          description: 検索条件削除結果
          schema:
            $ref: '#/definitions/Response'
  '/entity/{collection_name}/field_definitions/list':
    post:
      description: 項目定義のリストを取得する【要ログイン】
      operationId: listFieldDefinition
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 項目定義取得要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionListRequest'
      responses:
        '200':
          description: 項目定義取得結果(リスト)
          schema:
            $ref: '#/definitions/FieldDefinitionListResponse'
  '/entity/{collection_name}/field_definitions/move':
    post:
      description: フィールドの表示位置を移動する【APIキー もしくは ログイン】
      operationId: moveFieldDefinition
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 項目移動要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionMoveRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/Response'
  '/entity/{collection_name}/field_definitions/delete':
    post:
      description: フィールド情報を削除する【APIキー もしくは ログイン】
      operationId: deleteFieldDefinition
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ削除要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionDeleteRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/Response'
  '/entity/{collection_name}/field_definitions/groups/list':
    post:
      description: 項目定義グループの一覧を取得する【要ログイン】
      operationId: listFieldDefinitionGroup
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 項目定義グループ取得要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionGroupListRequest'
      responses:
        '200':
          description: 項目定義グループ取得結果(リスト)
          schema:
            $ref: '#/definitions/FieldDefinitionGroupListResponse'
  '/entity/{collection_name}/field_definitions/groups/create':
    post:
      description: 項目グループを作成する【APIキー もしくは ログイン】
      operationId: createFieldDefinitionGroup
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 項目グループ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionGroupCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionGroupCreateResponse'
  '/entity/{collection_name}/field_definitions/groups/update':
    post:
      description: 項目グループを更新する【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionGroup
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 項目グループ更新要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionGroupUpdateRequest'
      responses:
        '200':
          description: データ更新結果
          schema:
            $ref: '#/definitions/FieldDefinitionGroupUpdateResponse'
  '/entity/{collection_name}/field_definitions/groups/delete':
    post:
      description: 項目グループを削除する【APIキー もしくは ログイン】
      operationId: deleteFieldDefinitionGroup
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 項目グループ削除要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionGroupDeleteRequest'
      responses:
        '200':
          description: データ削除結果
          schema:
            $ref: '#/definitions/Response'
  '/entity/{collection_name}/field_definitions/groups/move':
    post:
      description: 項目グループを移動する
      operationId: moveFieldDefinitionGroup
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/MoveFieldDefinitionGroupRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/MoveFieldDefinitionGroupResponse'
  /entity/field_definitions/list/all:
    post:
      description: 項目定義の全リストを取得する【要ログイン】
      operationId: listFieldDefinitionAll
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: body
          in: body
          description: 項目定義取得要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: 項目定義取得結果
          schema:
            $ref: '#/definitions/FieldDefinitionAllListResponse'
  '/entity/{collection_name}/field_definitions/string/create':
    post:
      description: フィールド情報を追加する(一行テキスト)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionString
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/string/update':
    post:
      description: フィールド情報を更新する(一行テキスト)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionString
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/text/create':
    post:
      description: フィールド情報を追加する(複数行テキスト)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionText
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/text/update':
    post:
      description: フィールド情報を更新する(複数行テキスト)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionText
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/select/create':
    post:
      description: フィールド情報を追加する(選択)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionSelect
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/SelectFieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/select/update':
    post:
      description: フィールド情報を更新する(選択)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionSelect
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ更新要求
          required: true
          schema:
            $ref: '#/definitions/SelectFieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ更新結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/multiple_select/create':
    post:
      description: フィールド情報を追加する(複数選択)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionMultipleSelect
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/MultipleSelectFieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/multiple_select/update':
    post:
      description: フィールド情報を更新する(複数選択)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionMultipleSelect
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/MultipleSelectFieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/table/update':
    post:
      description: フィールド情報を追加・更新する(営業担当)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionTable
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/collection/update':
    post:
      description: フィールド情報を更新する(マスタ選択)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionCollection
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/date/create':
    post:
      description: フィールド情報を追加する(日付)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionDate
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/date/update':
    post:
      description: フィールド情報を更新する(日付)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionDate
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/datetime/create':
    post:
      description: フィールド情報を追加する(日時)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionDatetime
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/datetime/update':
    post:
      description: フィールド情報を更新する(日時)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionDatetime
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/number/create':
    post:
      description: フィールド情報を追加する(数値)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionNumber
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/number/update':
    post:
      description: フィールド情報を更新する(数値)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionNumber
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/formula/create':
    post:
      description: フィールド情報を追加する(計算)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionFormula
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FormulaFieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/formula/update':
    post:
      description: フィールド情報を更新する(計算)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionFormula
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FormulaFieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/formula/check':
    post:
      description: 計算式をチェックする【APIキー もしくは ログイン】
      operationId: checkFieldDefinitionFormula
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: 計算式チェック要求
          required: true
          schema:
            $ref: '#/definitions/FormulaFieldDefinitionCheckRequest'
      responses:
        '200':
          description: データチェック結果
          schema:
            $ref: '#/definitions/FormulaFieldDefinitionCheckResponse'
  '/entity/{collection_name}/field_definitions/organ_member/create':
    post:
      description: フィールド情報を追加する(ユーザー選択型)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionOrganMember
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/organ_member/update':
    post:
      description: フィールド情報を更新する(ユーザー選択型)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionOrganMember
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/heap_aggregate/create':
    post:
      description: フィールド情報を追加する(積み上げ集計)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionHeapAggregate
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/HeapAggregateFieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/heap_aggregate/update':
    post:
      description: フィールド情報を更新する(積み上げ集計)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionHeapAggregate
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/HeapAggregateFieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/lookup/create':
    post:
      description: フィールド情報を追加する(ルックアップ)【APIキー もしくは ログイン】
      operationId: createFieldDefinitionLookup
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/LookupFieldDefinitionCreateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/lookup/update':
    post:
      description: フィールド情報を更新する(ルックアップ)【APIキー もしくは ログイン】
      operationId: updateFieldDefinitionLookup
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: データ作成要求
          required: true
          schema:
            $ref: '#/definitions/LookupFieldDefinitionUpdateRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/FieldDefinitionUpdateResponse'
  '/entity/{collection_name}/field_definitions/relations/list':
    post:
      description: 関連データの表示・非表示設定を取得します
      operationId: listOrganItemRelations
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/ListOrganItemRelationsRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ListOrganItemRelationsResponse'
  '/entity/{collection_name}/field_definitions/relations/update':
    post:
      description: 関連データの表示/非表示設定を更新します
      operationId: updateOrganItemRelations
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/UpdateOrganItemRelationsRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UpdateOrganItemRelationsResponse'
  /entity/prospects/convert/mapping/list:
    post:
      description: 見込客から商談を作成する際のマッピングを取得する
      operationId: listConvertProspectMapping
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: body
          in: body
          description: マッピング取得要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: マッピング取得結果
          schema:
            $ref: '#/definitions/ListConvertMappingResponse'
  /entity/prospects/convert/mapping/update:
    post:
      description: 見込客から商談を作成する際のマッピングを更新する
      operationId: updateConvertProspectMapping
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: body
          in: body
          description: マッピング更新要求
          required: true
          schema:
            $ref: '#/definitions/UpdateConvertMappingRequest'
      responses:
        '200':
          description: マッピング更新結果
          schema:
            $ref: '#/definitions/Response'
  /entity/tasks/complete/mapping/list:
    post:
      description: タスクから活動履歴を作成する際のマッピングを取得する
      operationId: listConvertTaskMapping
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: body
          in: body
          description: マッピング取得要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: マッピング取得結果
          schema:
            $ref: '#/definitions/ListConvertMappingResponse'
  /entity/tasks/complete/mapping/update:
    post:
      description: タスクから活動履歴を作成する際のマッピングを更新する
      operationId: updateConvertTaskMapping
      produces:
        - application/json
      tags:
        - api-class-2
        - field-definition
      parameters:
        - name: body
          in: body
          description: マッピング更新要求
          required: true
          schema:
            $ref: '#/definitions/UpdateConvertMappingRequest'
      responses:
        '200':
          description: マッピング更新結果
          schema:
            $ref: '#/definitions/Response'
  '/entity/{collection_name}/import/init':
    post:
      description: インポートを初期化する【要ログイン】
      operationId: InitImport
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-import
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: インポート初期化要求
          required: true
          schema:
            $ref: '#/definitions/ImportInitRequest'
      responses:
        '200':
          description: データ作成結果
          schema:
            $ref: '#/definitions/ImportInitResponse'
  '/entity/{collection_name}/import/start':
    post:
      description: インポートを開始する【要ログイン】
      operationId: StartImport
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-import
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: インポート開始要求
          required: true
          schema:
            $ref: '#/definitions/ImportStartRequest'
      responses:
        '200':
          description: インポート開始結果
          schema:
            $ref: '#/definitions/ImportStartResponse'
  '/entity/{collection_name}/import/status':
    post:
      description: インポート状況を取得する【要ログイン】
      operationId: StatusImport
      produces:
        - application/json
      tags:
        - api-class-2
        - entity-import
      parameters:
        - name: collection_name
          in: path
          description: コレクション名
          required: true
          type: string
        - name: body
          in: body
          description: インポート開始要求
          required: true
          schema:
            $ref: '#/definitions/ImportStatusRequest'
      responses:
        '200':
          description: データ開始結果
          schema:
            $ref: '#/definitions/ImportStatusResponse'
  /workflow/text:
    post:
      description: ワークフローによるテキストのレンダリングテスト【内部用】
      operationId: workFlowText
      produces:
        - application/json
      tags:
        - api-class-2
        - workflow
      parameters:
        - name: body
          in: body
          description: ワークフローテキスト作成要求
          required: true
          schema:
            $ref: '#/definitions/WorkflowTextRequest'
      responses:
        '200':
          description: 処理結果
          schema:
            $ref: '#/definitions/WorkflowTextResponse'
  /system/api_auth_key/create:
    post:
      description: API用 - APIキー作成【認証が必要】
      operationId: createAPIKey
      produces:
        - application/json
      tags:
        - api-class-2
        - system
        - api-auth-key
      parameters:
        - name: body
          in: body
          description: APIキー作成要求
          required: true
          schema:
            $ref: '#/definitions/ApiKeyCreateRequest'
      responses:
        '200':
          description: APIキー作成結果
          schema:
            $ref: '#/definitions/ApiKeyCreateResponse'
  /system/api_auth_key/revoke:
    post:
      description: API用 - APIキー削除【認証が必要】
      operationId: deleteAPIKey
      produces:
        - application/json
      tags:
        - api-class-2
        - system
        - api-auth-key
      parameters:
        - name: body
          in: body
          description: APIキー削除要求
          required: true
          schema:
            $ref: '#/definitions/ApiKeyDeleteRequest'
      responses:
        '200':
          description: APIキー削除結果
          schema:
            $ref: '#/definitions/Response'
  /system/api_auth_key/list:
    post:
      description: API用 - APIキー一覧取得【認証が必要】
      operationId: listAPIKey
      produces:
        - application/json
      tags:
        - api-class-2
        - system
        - api-auth-key
      parameters:
        - name: body
          in: body
          description: APIキー作成要求
          required: true
          schema:
            $ref: '#/definitions/AuthorizedRequest'
      responses:
        '200':
          description: APIキー作成結果
          schema:
            $ref: '#/definitions/ApiKeyListResponse'
  /system/audit/log/archive:
    post:
      description: 監査ログを取得【要ログイン】
      operationId: getAuditLogArchive
      produces:
        - application/json
      tags:
        - api-class-2
        - audit
      parameters:
        - name: body
          in: body
          description: 監査ログ取得要求
          required: true
          schema:
            $ref: '#/definitions/AuditLogGetArchiveRequest'
      responses:
        '200':
          description: 監査ログ取得結果
          schema:
            $ref: '#/definitions/AuditLogGetArchiveResponse'
  /session/token/create:
    post:
      description: ログイン用のAPIトークンを生成する
      operationId: createSessionToken
      produces:
        - application/json
      tags:
        - api-class-0
        - system
        - token
      parameters:
        - name: body
          in: body
          description: ちきゅうへのログイン情報
          required: true
          schema:
            $ref: '#/definitions/CreateSessionTokenRequest'
      responses:
        '200':
          description: 新規作成されたトークン
          schema:
            $ref: '#/definitions/CreateSessionTokenResponse'
  /session/token/renew:
    post:
      description: ログイン用のAPIトークンを更新する
      operationId: renewSessionToken
      produces:
        - application/json
      tags:
        - api-class-0
        - system
        - token
      parameters:
        - name: body
          in: body
          description: 現在のトークン情報
          required: true
          schema:
            $ref: '#/definitions/TokenRequest'
      responses:
        '200':
          description: 更新されたトークン
          schema:
            $ref: '#/definitions/CreateSessionTokenResponse'
  /session/login:
    post:
      description: APIトークンを利用してセッションを生成する【要ログイン】
      operationId: login
      produces:
        - application/json
      tags:
        - api-class-0
        - session
      parameters:
        - name: body
          in: body
          description: APIトークン
          required: true
          schema:
            $ref: '#/definitions/LoginRequest'
      responses:
        '200':
          description: セッション情報
          schema:
            $ref: '#/definitions/LoginResponse'
definitions:
  AttachedFileModel:
    type: object
    description: 添付ファイルデータ
    required:
      - _id
      - file_name
    properties:
      _id:
        type: string
        description: データのID
      file_name:
        type: string
        description: 添付ファイル名
      download_url:
        type: string
        description: ファイルのダウンロードURL(publicであるもののみ)
      created_on:
        type: string
        description: 作成日
      created_by:
        type: string
        description: 作成者
  AttachedFileListRequestModel:
    type: object
    required:
      - target_item_id
      - items_per_page
      - page_index
    allOf:
      - $ref: '#/definitions/StandardListConditionModel'
      - type: object
        properties:
          target_item_id:
            type: string
            description: 添付ファイルの取得対象となる関連データのID
  AttachedFileListRequest:
    allOf:
      - $ref: '#/definitions/SecurityToken'
      - type: object
        description: ''
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/AttachedFileListRequestModel'
  AttachedFileListResponseModel:
    type: object
    description: ''
    allOf:
      - $ref: '#/definitions/ListResultModel'
      - type: object
        properties:
          list:
            type: array
            items:
              $ref: '#/definitions/AttachedFileModel'
  AttachedFileListResponse:
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/AttachedFileListResponseModel'
  AttachedFileCreateRequestModel:
    type: object
    description: 添付ファイル(メタデータ)作成要求
    required:
      - target_item_id
      - file_name
    properties:
      target_item_id:
        type: string
        description: 関連付け先となるデータのID
      file_name:
        type: string
        description: 添付ファイル名
      is_secure:
        type: boolean
        description: パブリックアクセス可能とする場合にfalse(指定しなければ、パブリックアクセス不可)
  AttachedFileCreateRequest:
    allOf:
      - $ref: '#/definitions/SecurityToken'
      - type: object
        description: ''
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/AttachedFileCreateRequestModel'
  AttachedFileDeleteRequestModel:
    type: object
    description: 添付ファイル(メタデータ)削除要求
    required:
      - _id
    properties:
      _id:
        type: string
        description: 対象データのID
  AttachedFileDeleteRequest:
    allOf:
      - $ref: '#/definitions/SecurityToken'
      - type: object
        description: ''
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/AttachedFileDeleteRequestModel'
  AttachedFileCreateResponseModel:
    type: object
    description: 添付ファイル(メタデータ)更新結果
    allOf:
      - type: object
        properties:
          _id:
            type: string
            description: 対象データのID
          content_type:
            type: string
            description: アップロードの際に指定するcontent_type
      - $ref: '#/definitions/AttachedFileUrlResponseModel'
  AttachedFileUpdateResponse:
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/AttachedFileCreateResponseModel'
  AttachedFileUrlRequestModel:
    type: object
    description: 添付ファイルのURL生成要求
    required:
      - _id
    properties:
      _id:
        type: string
        description: 対象データのID
  AttachedFileUrlRequest:
    allOf:
      - $ref: '#/definitions/SecurityToken'
      - type: object
        description: ''
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/AttachedFileUrlRequestModel'
  AttachedFileUrlResponseModel:
    type: object
    description: 添付ファイルのURL生成結果
    properties:
      method:
        type: string
        description: 許可されるhttpメソッド
      url:
        type: string
        description: 対象URL
  AttachedFileUrlResponse:
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/AttachedFileUrlResponseModel'
  Response:
    type: object
    required:
      - has_error
    properties:
      has_error:
        type: boolean
        description: エラーが発生した場合にtrue
      message:
        type: string
        description: エラーメッセージ
  SecurityToken:
    type: object
    required:
      - session_id
    properties:
      session_id:
        type: string
        description: セッションID
  SecurityTokenLoose:
    type: object
    properties:
      session_id:
        type: string
        description: セッションID(HTTPヘッダにAPIキーを付加している場合は不要)
  UserModel:
    type: object
    required:
      - user_id
      - email
    properties:
      organ_id:
        type: integer
        description: 現在の組織ID
      user_id:
        type: integer
        description: ユーザーID
      email:
        type: string
        description: メールアドレス
      last_name:
        type: string
        description: 姓
      first_name:
        type: string
        description: 名
      display_name:
        type: string
        description: 表示名
      user_image:
        type: string
        description: ユーザー画像のURL
      phone_no01:
        type: string
        description: 電話番号
      last_logged_in:
        type: string
        description: 前回ログイン日時
      login_count:
        type: integer
        description: ログイン回数
      home_type:
        type: string
        description: ホーム画面のタイプ
      task_home_type:
        type: string
        description: タスクホーム画面のタイプ
      init_canvas_pid:
        type: integer
        description: キャンバスで初期選択されるプロジェクトのID
      slack_user_id:
        type: string
        description: Slack上のユーザーID(Slack連携が有効である場合)
      chatwork_user_id:
        type: string
        description: Chatwork上のユーザーID(Chatwork連携が有効である場合)
      organs:
        type: array
        description: 該当ユーザーが属する組織リスト
        items:
          $ref: '#/definitions/OrganModel'
      created_on:
        type: string
        description: 作成日時
      updated_on:
        type: string
        description: 更新日時
  EntityModel:
    type: object
    description: 取得データ(取得対象フィールドは項目設定に準ずる)
    properties:
      organ_id:
        type: string
        description: 組織ID
      _id:
        type: string
        description: 取得対象データのID
      __display_name:
        type: string
        description: 表示名称
      created_on:
        type: string
        description: 作成日
      created_by:
        type: string
        description: 作成者のID
      updated_on:
        type: string
        description: 更新日
      updated_by:
        type: string
        description: 更新者のID
  SortModel:
    type: object
    description: ソート条件
    required:
      - field_name
      - direction
    properties:
      field_name:
        type: string
        description: 対象フィールド名
      direction:
        type: integer
        description: '正順 -> 0以上, 逆順 -> -1以下'
  SortListModel:
    type: array
    items:
      $ref: '#/definitions/SortModel'
  ConditionModel:
    type: object
    description: 条件設定オブジェクト
    required:
      - field_name
      - operator
      - value
    properties:
      field_name:
        type: string
        description: |
          対象フィールド名
            「__KEYWORD__」と指定すると、全フィールドからキーワード検索を行う。
            ＊その場合はoperatorが無視され、「含む」で固定となる。
      operator:
        type: string
        description: |
          日付・日時型以外に対して検索を行う場合の演算子
            cn=含む
            eq=等しい
            bw=で始まる
            nc=含まない
            ne=等しくない
            bn=で始まらない
            en=で終わらない
            gt=より大きい
            ge=と等しいか大きい
            lt=より小さい
            le=と等しいか小さい
            between=の間
            na=空白である
            cs=空白でない
      value:
        type: string
        description: フィールド値(範囲指定の場合は最小値)
      search_type:
        type: string
        description: |
          データ型が「collection」または「table」である場合のみ有効。
          value=表示値で検索(デフォルト)
          id=idで検索
      range_to_value:
        type: string
        description: 範囲を指定する場合の最大値
      range_option:
        type: string
        description: |
          日付(date)・日時型(datetime)型に対してのみ有効。
          検索を行う場合の演算子。
          custom=始まりの日(value)と終わりの日(range_to_value)を指定
          today=今日
          yesterday=昨日
          tomorrow=明日
          this_week=今週
          last_week=先週
          next_week=来週
          this_month=今月
          last_month=先月
          next_month=来月
          this_quarter=当四半期
          last_quarter=前四半期
          next_quarter=翌四半期
          this_year=本年
          last_year=昨年
          next_year=来年
          this_fiscal_year=当会計年度
          last_fiscal_year=前会計年度
          next_fiscal_year=翌会計年度
          past7days=過去7日間
          past14days=過去14日間
          past30days=過去30日間
          not_applicable=空白である
          CONTAINS=空白でない
  OrConditionListModel:
    type: array
    description: 抽出条件リスト(OR条件)
    items:
      $ref: '#/definitions/ConditionModel'
  AndConditionListModel:
    type: array
    description: 抽出条件リスト(AND条件)
    items:
      $ref: '#/definitions/OrConditionListModel'
  PagingConditionModel:
    type: object
    required:
      - items_per_page
      - page_index
    properties:
      items_per_page:
        type: integer
        description: ページごとのデータ取得件数
      page_index:
        type: integer
        description: 取得ページ番号
      sort:
        $ref: '#/definitions/SortListModel'
  StandardListConditionModel:
    type: object
    allOf:
      - $ref: '#/definitions/PagingConditionModel'
      - type: object
        properties:
          condition_list:
            $ref: '#/definitions/AndConditionListModel'
  FieldDefinitionModel:
    type: object
    description: フィールド定義情報
    properties:
      _id:
        type: string
        description: データのID
      collection_name:
        type: string
        description: コレクション名
      field_name:
        type: string
        description: フィールド名
      display_name:
        type: string
        description: 表示名
      type:
        type: string
        description: データ型
      display_order:
        type: integer
        description: 表示順位
      updated_on:
        type: string
        description: 更新日時
      created_on:
        type: string
        description: 作成日時
      disable_div:
        type: integer
        description: 有効・無効
      hidden_div:
        type: integer
        description: 1の場合は非表示
      candidate_key:
        type: integer
        description: 重複を禁止するかどうか(1の場合は禁止)
      default_div:
        type: integer
        description: デフォルトの項目かどうか(1の場合はデフォルト)
      list_div:
        type: integer
        description: 商談の繰り返し計上の項目である場合に1
      group_id:
        type: string
        description: 所属している入力グループのID
      align_div:
        type: string
        description: '表示する列(left, right, center)'
      division_code:
        type: string
        description: 区分コード(現在のところ、組み込みの「都道府県」専用)
      division_list:
        type: array
        description: 区分リスト
        items:
          type: object
          properties:
            key:
              type: integer
              description: 区分値
            value:
              type: string
              description: 区分表示値
            display_order:
              type: integer
              description: 表示順位
      table_name:
        type: string
        description: 参照先テーブル名
      name_column_name:
        type: string
        description: 参照先テーブルの表示カラム名
      column_name:
        type: string
        description: 参照先テーブルとの結合カラム名
      table_singular_name:
        type: string
        description: テーブル名の単数形名
      external_collection_name:
        type: string
        description: 参照先コレクション名
      external_field_name:
        type: string
        description: 参照先コレクションの結合カラム名
      external_name_field_name:
        type: string
        description: 参照先コレクションの表示カラム名
      external_collection_singular_name:
        type: string
        description: 参照先コレクションの単数形名
      user_editable:
        type: boolean
        description: falseの場合は編集不可
      aggregate_interest:
        type: string
        description: 積み上げ集計対象データのcollection_name
      aggregate_operation:
        type: string
        description: 積み上げ集計方法
      aggregate_field:
        type: string
        description: 積み上げ集計の集計を行うフィールド名
      aggregate_field_type:
        type: string
        description: 積み上げ集計の集計を行うフィールドの型
      is_conditioned:
        type: integer
        description: '積み上げ集計の集計対象の検索条件の有無 0:全てのレコード, 1:一定の条件のレコード'
      conditions:
        description: 積み上げ集計の集計対象の検索条件のオブジェクト
        $ref: '#/definitions/AndConditionListModel'
      formula:
        type: string
        description: 計算項目の計算式
      formula_number_of_decimals:
        type: string
        description: 計算項目を数値型で出力する場合の、小数点以下の桁数
      formula_output_format:
        type: string
        description: '計算項目の出力形式(number, date, time1(m時間n分), time2(l日m時間n分), string)'
      lookup_collection:
        type: string
        description: ルックアップ項目の参照先コレクション名
      lookup_field:
        type: string
        description: ルックアップ項目の参照先フィールド名
      lookup_field_type:
        type: string
        description: ルックアップ項目の参照先フィールドのデータ型
      __from_base_collection:
        type: integer
        description: 親の項目定義から引き継いだ項目である場合は1
      __base_item_id:
        type: string
        description: 親の項目定義から引き継いだ項目である場合の項目ID
      from_parent:
        type: boolean
        description: 親コレクションの項目に対する直接の参照である場合はtrue
  FieldDefinitionGroupModel:
    type: object
    description: フィールド定義情報
    properties:
      _id:
        type: string
        description: データのID
      collection_name:
        type: string
        description: コレクション名
      group_name:
        type: string
        description: グループ名称
      order:
        type: integer
        description: 表示順位
      field_list:
        type: array
        items:
          $ref: '#/definitions/FieldDefinitionModel'
  ImportMappingModel:
    type: object
    properties:
      field_name:
        type: string
        description: 取り込み先となる、ちきゅうのフィールド名
      column_name:
        type: string
        description: 取り込み元となる、CSVファイルのフィールド名
  ConvertMappingModel:
    type: object
    description: データ変換定義
    required:
      - source
      - destinations
    properties:
      source:
        type: object
        description: データ変換元コレクションの定義
        required:
          - collection_name
          - collection_label
          - field_definitions
        properties:
          collection_name:
            type: string
            description: 変換元のコレクション名
          collection_label:
            type: string
            description: 変換先コレクション名の表示名称
          field_definitions:
            type: array
            items:
              $ref: '#/definitions/FieldDefinitionModel'
      destinations:
        type: array
        description: データ変換先コレクションの定義
        items:
          $ref: '#/definitions/ConvertMappingTargetModel'
  ConvertMappingTargetModel:
    type: object
    description: データ変換のマッピング先コレクションの定義
    required:
      - collection_name
      - collection_label
      - mappings
    properties:
      collection_name:
        type: string
        description: 変換先のコレクション名
      collection_label:
        type: string
        description: 変換先コレクション名の表示名称
      mappings:
        type: array
        items:
          $ref: '#/definitions/ConvertMappingTargetFieldModel'
      mappable_items:
        type: array
        items:
          $ref: '#/definitions/ConvertMappingMappableFieldListModel'
  ConvertMappingTargetFieldModel:
    type: object
    description: フィールド変換の項目定義
    required:
      - src_field_id
      - src_field_name
      - src_field_display_name
    properties:
      src_field_id:
        type: string
        description: 変換元フィールドのID
      src_field_name:
        type: string
        description: 変換元フィールドのフィールド名
      src_field_display_name:
        type: string
        description: 変換元フィールドの表示名称
      dst_field_id:
        type: string
        description: 変換先フィールドのID
      dst_field_name:
        type: string
        description: 変換先フィールドのフィールド名
      dst_field_display_name:
        type: string
        description: 変換先フィールドの表示名称
      editable:
        type: boolean
        description: 変換のマッピングが変更可能である場合はtrue
  ConvertMappingMappableFieldListModel:
    type: object
    description: データ変換元に対し、マッピング可能なフィールドのリスト
    required:
      - type
      - items
    properties:
      type:
        type: string
        description: データ型
      items:
        type: array
        items:
          $ref: '#/definitions/FieldDefinitionModel'
  ConvertMappingUpdateModel:
    type: object
    description: データ変換のマッピングを更新します。
    required:
      - collection_name
      - mappings
    properties:
      collection_name:
        type: string
        description: 変換先のコレクション名
      mappings:
        type: array
        items:
          $ref: '#/definitions/ConvertMappingUpdateFieldModel'
  ConvertMappingUpdateFieldModel:
    type: object
    description: フィールド変換の更新リクエスト
    required:
      - src_field_id
    properties:
      src_field_id:
        type: string
        description: 変換元フィールドのフィールド名
      dest_field_id:
        type: string
        description: 変換先フィールドのフィールド名(空白を指定した場合、マッピングしない設定となります)
  ListConvertMappingResponse:
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/ConvertMappingModel'
  UpdateConvertMappingRequest:
    allOf:
      - $ref: '#/definitions/SecurityToken'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/definitions/ConvertMappingUpdateModel'
  ConvertProspectRequestModel:
    type: object
    description: 見込客変換要求
    required:
      - _id
    properties:
      _id:
        type: string
        description: 変換対象データのID
      is_create_company:
        type: integer
        description: '変換時に会社を作成する(1=作成する, 0=作成しない)'
      target_company_id:
        type: string
        description: 関連付ける会社のID(変換時に会社を作成しない場合)
      is_create_business_discussion:
        type: integer
        description: '変換時に商談を作成する(1=作成する, 0=作成しない)'
      target_situation_div_key:
        type: integer
        description: 商談作成時に指定する商談状況のキー値
      is_override_sales_staff:
        type: integer
        description: '変換時に営業担当を関連付け直す(1=関連付け直す, 0=見込客のものをそのまま利用する)'
      sales_staff_id:
        type: integer
        description: 関連付け直す対象となる営業担当のユーザーID
  ConvertProspectRequest:
    allOf:
      - $ref: '#/definitions/SecurityToken'
      - type: object
        description: ''
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/ConvertProspectRequestModel'
  ConvertProspectResponseModel:
    description: 見込客変換結果
    type: object
    properties:
      company_id:
        type: string
        description: 作成された会社ID
      business_discussion_id:
        type: string
        description: 作成された商談ID
      customer_id:
        type: string
        description: 作成された担当者ID
  ConvertProspectResponse:
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/ConvertProspectResponseModel'
  CompleteTaskRequestModel:
    type: object
    description: タスク完了要求
    required:
      - _id
    properties:
      _id:
        type: string
        description: 変換対象データのID
  CompleteTaskRequest:
    allOf:
      - $ref: '#/definitions/SecurityToken'
      - type: object
        description: ''
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/CompleteTaskRequestModel'
  CompleteTaskResponseModel:
    type: object
    description: タスク完了要求
    properties:
      activity_history_id:
        type: string
        description: 変換された活動履歴のID
  CompleteTaskResponse:
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/CompleteTaskResponseModel'
  ListResultModel:
    type: object
    properties:
      total_count:
        type: integer
        description: 総件数
      page_item_count:
        type: integer
        description: ページ内の件数
      page_index:
        type: integer
        description: 現在のページ番号
      page_count:
        type: integer
        description: ページ数
      start_index:
        type: integer
        description: 最初のデータのindex
      last_index:
        type: integer
        description: 最後のデータのindex
      is_last_page:
        type: boolean
        description: 最終ページである場合にtrue
  EntityGetRequestModel:
    type: object
    description: 単一データ取得要求
    required:
      - key
    properties:
      key:
        type: string
        description: 取得対象データのキー(キーの内容はオプションに準ずる。オプションを指定しない場合はid)
      key_search_option:
        $ref: '#/definitions/KeySearchOptionModel'
  EntityGetRequest:
    allOf:
      - $ref: '#/definitions/SecurityTokenLoose'
      - type: object
        description: ''
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/EntityGetRequestModel'
  EntityGetResponse:
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/EntityModel'
  EntityListRequestModel:
    type: object
    allOf:
      - $ref: '#/definitions/StandardListConditionModel'
      - type: object
        properties:
          search_field_name:
            type: string
            description: 検索フィールド名(__ALL_FIELDS__を指定すると、全項目から検索)
          search_field_value:
            type: string
            description: 検索フィールド値
          list_id:
            type: string
            description: 検索に利用するリストのID
  EntityListRequest:
    allOf:
      - $ref: '#/definitions/SecurityTokenLoose'
      - type: object
        description: ''
        required:
          - data
        properties:
          data:
            $ref: '#/definitions/EntityListRequestModel'
  EntityListResponseModel:
    type: object
    description: データ取得結果
    allOf:
      - $ref: '#/definitions/ListResultModel'
      - type: object
        properties:
          list:
            type: array
            items:
              $ref: '#/definitions/EntityModel'
  EntityListResponse:
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/EntityListResponseModel'
  EntityCountRequestModel:
    type: object
    properties:
      search_field_name:
        type: string
        description: 検索フィールド名(__ALL_FIELDS__を指定すると、全項目から検索)
      search_field_value:
        type: string
        description: 検索フィールド値
      list_id:
        type: string
        description: 検索に利用するリストのID
      condition_list:
        $ref: '#/definitions/AndConditionListModel'
  EntityCountRequest:
    allOf:
      - $ref: '#/definitions/SecurityTokenLoose'
      - type: object
        properties:
          data:
            $ref: '#/definitions/EntityCountRequestModel'
  EntityCountResponseModel:
    type: object
    properties:
      total_count:
        type: integer
        description: 総件数
  EntityCountResponse:
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/EntityCountResponseModel'
  AggregationGroupModel:
    type: object
    description: 集計グループ
    required:
      - field_name
      - grouping_type
    properties:
      field_name:
        type: string
        description: グルーピング対象フィールド名
      grouping_type:
        type: string
        description: |
          データ型に応じた分類方法
          日付->
          　year = 年
          　quarter = 四半期
          　month = 月
          　week = 週
          　day = 日
          　hour = 時
          　minute = 分
          その他->
          　normal = 実値
  AggregationTargetModel:
    type: object
    description: 集計方法
    required:
      - field_name
      - aggregation_type
    properties:
      field_name:
        type: string
        description: 集計対象フィールド名(件数を取得する場合は「__count__」と指定)
      aggregation_type:
        type: string
        description: |
          集計方法
          　sum = 合計
          　avg = 平均
          　min = 最小
          　max = 最大
  AggregationResultModel:
    type: object
    description: データ集計結果
    properties:
      series_name:
        type: string
        description: 系列名
      series_field_list:
        type: array
        description: 系列に含まれるフィールド情報
        items:
          type: object
          properties:
            field_name:
              type: string
              description: フィールド名
            display_name:
              type: string
              description: フィールド表示名称
            field_value:
              type: string
              description: フィールド値
            field_display_value:
              type: string
              description: フィールド表示値
      values:
        type: array
        items:
          type: object
          description: 集計結果
          properties:
            field_name:
              type: string
              description: 集計フィールド名
            value:
              type: number
              description: 集計値
  EntityAggregateRequestModel:
    type: object
    description: データ集計要求
    required:
      - group_list
      - target_list
    properties:
      group_list:
        type: array
        description: グループ条件リスト
        items:
          $ref: '#/definitions/AggregationGroupModel'
      target_list:
        type: array
        description: 集計対象リスト
        items:
          $ref: '#/definitions/AggregationTargetModel'
      list_id:
        type: string
        description: 検索に利用するリストのID
      condition_list:
        $ref: '#/definitions/AndConditionListModel'
  EntityAggregateRequest:
    type: object
    allOf:
      - $ref: '#/definitions/SecurityTokenLoose'
      - type: object
        properties:
          data:
            $ref: '#/definitions/EntityAggregateRequestModel'
  EntityAggregateResponseModel:
    type: object
    description: データ集計結果
    properties:
      aggregation_result:
        type: array
        items:
          $ref: '#/definitions/AggregationResultModel'
  EntityAggregateResponse:
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/EntityAggregateResponseModel'
  EntityRelatedItemListModel:
    type: object
    description: 関連データリスト
    properties:
      collection_name:
        type: string
        description: コレクション名
      collection_display_name:
        type: string
        description: コレクション表示名
      total_count:
        type: integer
        description: 総データ件数
      item_list:
        type: array
        description: データリスト
        items:
          type: object
  EntityRelatedItemListRequestModel:
    type: object
    description: 関連データ取得要求
    required:
      - _id
    properties:
      _id:
        type: string
        description: 対象データのID
      item_count:
        type: integer
        description: 最大取得件数
      target_collection_name_list:
        type: array
        description: 取得対象コレクション名のリスト(指定しない場合は全て)
        items:
          type: string
  EntityRelatedItemListRequest:
    type: object
    allOf:
      - $ref: '#/definitions/SecurityToken'
      - type: object
        properties:
          data:
            $ref: '#/definitions/EntityRelatedItemListRequestModel'
  EntityRelatedItemListResponseModel:
    type: object
    description: 関連データ取得結果
    properties:
      item_list:
        type: array
        items:
          $ref: '#/definitions/EntityRelatedItemListModel'
  EntityRelatedItemListResponse:
    type: object
    allOf:
      - $ref: '#/definitions/Response'
      - type: object
        properties:
          data:
            $ref: '#/definitions/EntityRelatedItemListResponseModel'
[...]
